body {
  font-family: 'Titillium Web', sans-serif;
  background-image: url(../img/portada.jpg);
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

footer {
  background: url(../img/fondo.jpg);
}

p{
  color: wheat;
  font-size: 18px;
}

h1, h2, h3, li{
  color:white;
}

li{
  color: wheat;
}